body {
    background-image: url('./pictures/keys.jpg');
    background-size: cover;
    background-position:50% 50%;
}

.navbar {
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 100;
}

.main {
    margin-top: 100px;
}