/* 
Contributors : Aishwarya Sivakumar, Roshan Babu, Nidhi Sunil Kumar, Yina Jian
UNI : as6418, rbk2145, ns3566, yj2713 
*/

#quiz_page {
    padding: 40px;
    padding-bottom: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff8e7;
}

.qImage {
    max-width: 100%;
    border: 5px solid black;
    margin: 10px
}

.inline {
    display: inline-block;
}

.aImage {
    width: 130px;
    height: 130px;
    border: 5px solid black;
}

.quiz_question {
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.question_no {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.next {
    float: right;
    border-radius: 5px;
    border: 2px solid black;
    width: 100px;
    font-size: 17px;
}

.next:hover {
    float: right;
    border-radius: 5px;
    border: 2px solid black;
    width: 100px;
    font-size: 17px;
    background-color: rgb(203, 203, 203);
}