
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='learn.css')}}">
<script>
    let single_data = {{single_data|tojson}}
</script>

<div class="page">
    <div class="contents">
        {{single_data.content}}
    </div>
    <div class="images">
        <img src = {{single_data.image}} height=200px>
    </div>
    <div class="btns">
        <input type="submit" class="back-submit button" id="" name="{{single_data.id}}" value="Go Back">
        <input type="submit" class="edit-submit button" id="" name="{{single_data.id}}" value="Continue">
    </div>
</div>

{% endblock %}
