
{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='learn.css')}}">
<script>
    let single_data = {{single_data|tojson}}
</script>

<div class="page">
    <div class="title">
        {{single_data.title}}
    </div>
    <div class="contents">
        {{single_data.content}}
    </div>
    <br>
    {% for img in single_data.image %}
        <div class="images">
            <img src = {{img}}>
        </div>
    {% endfor %}
    <div class="btns">
        <input type="submit" class="back-submit button" id="" name="{{single_data.id}}" value="Go Back">
        <input type="submit" class="edit-submit button" id="" name="{{single_data.id}}" value="Continue">
    </div>
</div>

{% endblock %}
