{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='middle.css')}}">

<div class="container" id="middle-content">
    <div id="main-text">
        Congratulations on completing your lesson in learning to read sheet music!
    </div>
    <br>
    <div>
        Now it's time to put your skills to see how far you've come.
    </div>
    <div>
        Click on Continue to begin the Quiz and Review to revisit lessons
    </div>
    <div class="links">
        <div class="link">
            <a href="/quiz/1"> CONTINUE </a>
        </div>
    	<div class="link">
            <a href="/learn/1"> REVIEW </a>
        </div>
    </div>
</div>

{% endblock %}
