<!-- 
    Contributors : Aishwarya Sivakumar, Roshan Babu, Nidhi Sunil Kumar, Yina Jian
    UNI : as6418, rbk2145, ns3566, yj2713
-->

{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='middle.css')}}">

<div class="container" id="middle-content">
    <div id="main-text">
        Congratulations on completing your lesson in learning to read sheet music!
    </div>
    <br>
    <div>
        Now it's time to put your skills to see how far you've come.
    </div>
    <div>
        Click on <span class="links"> <a href="/quiz/1"> CONTINUE </a> </span> to begin the Quiz and <span class="links"> <a href="/lesson"> REVIEW </a> </span> to revisit lessons.
    </div>
</div>

{% endblock %}
