<!-- 
    Contributors : Aishwarya Sivakumar, Roshan Babu, Nidhi Sunil Kumar, Yina Jian
    UNI : as6418, rbk2145, ns3566, yj2713
-->

{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let question_data = {{question_data|tojson}}
</script>


<div class="container" id="quiz_page"> 
    <div class="quiz_question"></div>
    <div class="quiz_image">
    </div>
    <div class="quiz_options"></div>
    <!-- <button onclick="window.location='/'">return to homepage</button> -->
    <input type="submit" class="next" id="" name="{{question_data.id}}" value="submit">
</div>


{% endblock %}