<!-- 
    Contributors : Aishwarya Sivakumar, Roshan Babu, Nidhi Sunil Kumar, Yina Jian
    UNI : as6418, rbk2145, ns3566, yj2713
-->

{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<script>
    let single_data = {{single_data|tojson}}
</script>

<h3> {{single_data.question}} </h3>
<input type="text" id="answer" value="Aish">
<input type="submit" class="next" id="" name="{{single_data.id}}" value="submit">

{% endblock %}