<!--
    Contributors : Aishwarya Sivakumar, Roshan Babu, Nidhi Sunil Kumar, Yina Jian
    UNI : as6418, rbk2145, ns3566, yj2713
-->

{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='welcome.css')}}">

<div class = "page">
    <div class="main-text"> Have you heard a song and thought, "Hey it'd be cool to play that!". Well learning to read sheet music is the first step to get there. </div>
    <div class="main-text"> This introductory tutorial will help you learn the basics of sheet music and also assess yourself. </div>
    <div class="lessons">
        <div class="main-text">
            LESSONS
        </div>
        <div class="links"> 
            <a href="/learn/1"> Staff and Clef </a>
        </div>
        <div class="links">
            <a href="/learn/4">  Space Notes </a>
        </div>
        <div class="links">
            <a href="/learn/5"> Line Notes </a>
        </div>
        <div class="links">
            <a href="/learn/7"> Beats </a>
        </div>
        <div class="links">
            <a href="/learn/12">  Beams </a>
        </div>
        <div class="links">
            <a href="/learn/13"> Ties and Dots </a>
        </div>
        <div class="links">
            <a href="/learn/14"> Rests </a>
        </div>
    </div>
    <br>
    <div class="links continue"> 
        <a href="/learn/1"> BEGIN LESSONS </a>
    </div>
</div>

{% endblock %}
